<div class="container">
    <app-card>
        <div class="product">
            <img src="../../../assets/images/product.png" alt="Produto Exemplo" />
            <div class="product-info">
                <h2>Produto Exemplo</h2>
                <p>
                    Este é um exemplo de produto incrível. Ele tem características que atendem a todas as suas
                    necessidades.
                </p>
                <span class="price">R$ 199,90</span>
                <app-button>Comprar Agora</app-button>
            </div>
        </div>
    </app-card>
</div>
